<?xml version="1.0"?>

<model>
  <name>quadricoptero</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Projeto S500</name>
    <email>s500@projeto.local</email>
  </author>
  <description>
    Quadricoptero virtual para o projeto S500.
  </description>
</model>
